<div class="container">
    <a ui-sref="students">return</a>
    <div class="text-center">
        <h2>Student Details</h2>
        <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr>
                    <td>Student Number</td>
                    <td>{{student.stu_num}}</td>
                </tr>
                <tr>
                    <td>Student Name</td>
                    <td>{{student.stu_name}}</td>
                </tr>
                <tr>
                    <td>Day of Birth</td>
                    <td>{{student.stu_dob.substr(0, 10)}}</td>
                </tr>
                <tr>
                    <td>Join School Date</td>
                    <td>{{student.stu_joinschool.substr(0, 10)}}</td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>
                        <div ng-if="student.stu_phone.length === 10">
                            {{'(' + student.stu_phone.substr(0, 3) + ')'
                              + ' ' + student.stu_phone.substr(3, 3)
                              + '-' + student.stu_phone.substr(6, 4)
                            }}
                        </div>
                        <div ng-if="student.stu_phone.length !== 10">
                            {{student.stu_phone}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{student.stu_email}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{student.stu_address}}</td>
                </tr>
                <tr>
                    <td>Is Student</td>
                    <td>
                        <div ng-if="student.stu_is_student">
                            <div class="glyphicon glyphicon-ok"></div>
                        </div>
                        <div ng-if="!student.stu_is_student">
                            <div class="glyphicon glyphicon-remove"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Is Active</td>
                    <td>
                        <div ng-if="student.stu_is_active">
                            <div class="glyphicon glyphicon-ok"></div>
                        </div>
                        <div ng-if="!student.stu_is_active">
                            <div class="glyphicon glyphicon-remove"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Rank</td>
                    <td>{{student.rank_name}}</td>
                </tr>
            </tbody>
        </table>
        <a ui-sref="editStudent({id:student.stu_num})">Update</a>
        <button class="btn btn-danger">Delete</button>

    </div>
</div>